<ion-view view-title="Hive {{hiveName}}">
    <ion-content>
        <div id="hiveInfo">
            <h1 class="title">Hive Info</h1>

            <div class="card">
                <div class="item item-text-wrap">
                    <div>
                        <h2>Name:</h2> <span ng-bind="hive.name" />
                    </div>
                    <div>
                        <h2>Address:</h2> <span ng-bind="hive.address" />
                    </div>
                    <div>
                        <h2>Description:</h2> <span ng-bind="hive.description" />
                    </div>
                </div>
            </div>
            <div class="button-bar" id="editHiveButtons">
                <a class="button button-energized" href="#/app/hive/edit">
                    Edit Hive
                </a>
            </div>
        </div>
        <ion-panel>
            <div id="hiveList">
                <h4 class="title">Hive List</h4>
                <button class="button-balanced button-full button icon-right ion-close-circled" ng-show="lastCreatedHiveName.length > 0" ng-click="lastCreatedHiveName = ''">
                    Success! A hive has been created!
                </button>
                <div class="button-bar" id="createDeleteButtons">
                    <button class="col button" ng-click="shouldShowDelete=!shouldShowDelete" ng-class="{'button-assertive': !shouldShowDelete, 'button-energized': shouldShowDelete}">
                        Delete
                    </button>

                    <a class="button button-balanced" href="#/app/hive/create">
                        Create Hive
                    </a>
                </div>
                <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
                    <ion-item ng-repeat="hive in hiveList" class="item-button-right" href="#/app/hive/details/{{hive.id}}">
                        <div ng-bind="hive.name"></div>
                        <button class="button button-positive">
                            Open
                        </button>
                        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(hive.id)">
                        </ion-delete-button>
                    </ion-item>
                </ion-list>
            </div>
        </ion-panel>
    </ion-content>
</ion-view>
