<ion-view view-title="Edit An Apiary">
    <ion-content>
        <h1>Edit Apiary:</h1>
        <form class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    Name <span class="assertive">*</span>
                </span>
                <input type="text" name="name" placeholder="Name *" ng-model="apiary.name" required>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Address</span>
                <input type="text" name="address" placeholder="Address" ng-model="apiary.address">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <textarea rows="8" name="description" placeholder="Description" ng-model="apiary.description"></textarea>
            </label>
            <div class="row" id="cancelSaveButon">
                <button class="col button button-positive" ng-click="goBack()">
                    Cancel
                </button>
                <button type="submit" class="col button" ng-click="createApiary()"
                        ng-disabled="!apiary.name||apiary.name.length==0"
                        ng-class="{'button-balanced': apiary.name&&apiary.name.length>0,
                            'button-stable': !apiary.name||apiary.name.length==0 }">
                    Save Apiary
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
