<ion-view view-title="Login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <button class="button button-positive icon-right ion-social-facebook" ng-click="facebookLogin()">Login Using Facebook</button>
    <button class="button button-assertive icon-right ion-social-google" ng-click="googleLogin()">Login Using Google</button>

      <button class="button button-positive icon-right ion-social-facebook" ng-click="facebookCreate()">Create Account Using Facebook</button>
      <button class="button button-assertive icon-right ion-social-google" ng-click="googleCreate()">Create Account Using Google</button>
  </ion-content>
</ion-view>
